.mclarenPageCarStats {

  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  background: linear-gradient(to top, #ff8700 50%, #f0f0f0 50%);
  background-size: 200% 200%;
  background-position:bottom top;
  transition:all 0.3s ease;
  height: 200px;
}

.manufacturerPageCarsDivs:hover .mclarenPageCarStats {
  background-position:left bottom;
  color: white;
}

#mclarenHeader {
  height: 50px;
  width: auto;
  margin-bottom: 20px;
}



@media only screen and (max-width: 820px) {
  .mclarenPageCarStats {
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 750px) {
  .mclarenPageCarStats {
    justify-content: flex-start;
    height: auto;
  }
  #mclarenHeader {
    height: 30px;
  }
}

